<!--

    Heimsnet Captcha verification system
    Frontend code is subject to copyright.
    (c) Heimsnet Group - All rights reserved.
    
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="icon" type="image/svg+xml" href="https://cdn.heimsnet.eu/image/website/red.svg">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <title><%= title %></title>
    </head>
    <body>
        <div class="centre">
            <img src="https://cdn.heimsnet.eu/image/website/logo.svg" width="140">
            <h2><%= title %></h2>
            <p><%= message %></p>
        </div>
    </body>
</html>